# System & Editor (Global)
.DS_Store
.AppleDouble
.LSOverride
._*
*.swp
*.swo
*~
.vscode/
.idea/

# Build 
build/
benchmark/
CMakeFiles/
CMakeCache.txt
*.cmake

# Compiled Binaries
# (In case you compile manually without the build folder)
*.o
*.a
*.so
*.dylib
tsp_bench
generate_refs
generate_outs
compare_results

# Testing
# We generally ignore the generated output, but keep the input
tests/out/
tests/ref/
# Or if you want to commit references but not local outputs:
# tests/out/
# !tests/ref/
check_results.txt
*.json

# Report (LaTeX)
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.bbl
report/*.blg
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.pdf
